body, html {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #33485F;
}

.icecream > .flavor {
    position: relative;
    width: 190px;
    height: 260px;
    border-radius: 90px 90px 10px 10px;
    overflow: hidden;
    background-color: sienna;
}

.icecream > .flavor > .flavours {
    position: relative;
    top: 0%;
    width: 140%;
    left: -20%;
    height: 120%;
    background: linear-gradient(0deg, #70ca5c 20%,
                                      #f63a99 20%, #f63a99 20%, #f63a99 40%,
                                      #f2d200 40%, #f2d200 40%, #f2d200 60%,
                                      #21def7 60%, #21def7 60%, #21def7 80%,
                                      #9c0fc7 80%) repeat-y 0 0;
    transform: rotate(-160deg);
    animation: flavour 200s linear infinite;
}

.icecream > .stick {
    width: 60px;
    height: 110px;
    background: #E09C5F;
    display: block;
    margin: 0 auto;
    border-radius: 0 0 50px 50px;
}

@keyframes flavour {
    to {
        background-position: 0 1000vh;
    }
}